In [169]:
import random
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_excel('LQ.xlsx')
data.info()
grp=data.groupby('Area').count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198 entries, 0 to 2197
Data columns (total 6 columns):
Area          2198 non-null object
RSSI          2198 non-null int64
SQ            2198 non-null int64
ETX           2198 non-null float64
Distance      2198 non-null float64
Throughput    2198 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 103.1+ KB

In [170]:
#Getting the maximum throughput in order to calculate TPR
maximum=data.groupby(['Area'])['Throughput'].max()
maximum

Area
ParkLOS           17.760023
ParkNLOS          17.929483
RESIDENTIAL_IN    18.342404
RESIDENTIAL_OD    14.281408
TrackLOS          16.268372
TrackNLOS         15.889274
Name: Throughput, dtype: float64

In [171]:
data.head()

             Area  RSSI   SQ       ETX   Distance  Throughput
0         ParkLOS    81  100  1.000000   0.000000   13.663293
1        TrackLOS    79  100  1.111111  15.321800   12.887519
2        ParkNLOS    44   78  1.000000  49.807500    5.449338
3  RESIDENTIAL_IN    72  100  1.000000   0.000000   12.904800
4         ParkLOS    78  100  1.000000   0.185362   13.563479

In [172]:
data['TPR']=0
data.loc[data.Area=='ParkLOS', ['TPR']]=data['Throughput']/maximum.ParkLOS
data.loc[data.Area=='ParkNLOS', ['TPR']]=data['Throughput']/maximum.ParkNLOS
data.loc[data.Area=='RESIDENTIAL_OD', ['TPR']]=data['Throughput']/maximum.RESIDENTIAL_OD
data.loc[data.Area=='RESIDENTIAL_IN', ['TPR']]=data['Throughput']/maximum.RESIDENTIAL_IN

data.loc[data.Area=='TrackLOS', ['TPR']]=data['Throughput']/maximum.TrackLOS
data.loc[data.Area=='TrackNLOS', ['TPR']]=data['Throughput']/maximum.TrackNLOS

data.describe()
data.head()

             Area  RSSI   SQ       ETX   Distance  Throughput       TPR
0         ParkLOS    81  100  1.000000   0.000000   13.663293  0.769329
1        TrackLOS    79  100  1.111111  15.321800   12.887519  0.792182
2        ParkNLOS    44   78  1.000000  49.807500    5.449338  0.303932
3  RESIDENTIAL_IN    72  100  1.000000   0.000000   12.904800  0.703550
4         ParkLOS    78  100  1.000000   0.185362   13.563479  0.763708

In [173]:
encoded_data=pd.get_dummies(data)
encoded_data.head()

,RSSI,SQ,ETX,Distance,Throughput,TPR,Area_ParkLOS,Area_ParkNLOS,Area_RESIDENTIAL_IN,Area_RESIDENTIAL_OD,Area_TrackLOS,Area_TrackNLOS
0,81,100,1.000000,0.000000,13.663293,0.769329,1,0,0,0,0,0
1,79,100,1.111111,15.321800,12.887519,0.792182,0,0,0,0,1,0
2,44,78,1.000000,49.807500,5.449338,0.303932,0,1,0,0,0,0
3,72,100,1.000000,0.000000,12.904800,0.703550,0,0,1,0,0,0
4,78,100,1.000000,0.185362,13.563479,0.763708,1,0,0,0,0,0

In [183]:
feature=['RSSI', 'SQ','ETX','Distance','Area_ParkLOS','Area_ParkNLOS','Area_RESIDENTIAL_IN','Area_RESIDENTIAL_OD','Area_TrackLOS','Area_TrackNLOS']
X=encoded_data[feature]
y=encoded_data['TPR']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=100,test_size=0.20)
X_train.shape[1]
X_test.head()

,RSSI,Area_ParkLOS,SQ,Area_ParkNLOS,Area_RESIDENTIAL_IN,Area_RESIDENTIAL_OD,Distance,Area_TrackLOS,Area_TrackNLOS,ETX
1663,49,0,93,0,0,1,91.5625,0,0,1.000000
1699,44,0,63,0,0,1,102.8125,0,0,1.000000
960,54,0,99,0,0,0,36.0386,1,0,1.000000
1434,65,0,100,0,0,1,20.0000,0,0,1.000000
1634,51,0,94,0,0,1,82.5000,0,0,1.111111

In [184]:
#Normalization
feature1=['RSSI', 'SQ','ETX','Distance']
mean=X_train[feature1].mean(axis=0)
std=X_train[feature1].std(axis=0)

#Normalization of train dataset
X_train[feature1]=X_train[feature1]-mean
X_train[feature1]=X_train[feature1]/std

#Normalization of test dataset
X_test[feature1]=X_test[feature1]-mean
X_test[feature1]=X_test[feature1]/std
std

RSSI        15.415087
SQ          12.226793
ETX          0.161828
Distance    31.487873
dtype: float64

In [69]:
feature1=['RSSI', 'SQ','ETX','Distance']

RSSI        1
SQ          7
ETX         1
Distance    1
dtype: int64

In [185]:
import numpy as np
#reprocessing the data for AE
feature1=['RSSI', 'SQ','ETX','Distance']
maxi=X_train[feature1].max(axis=0) 

#Scaling of train dataset
X_train[feature1]=X_train[feature1]/maxi

mini=X_train[feature1].min(axis=0)

#NScaling of test dataset
X_test[feature1]=X_test[feature1]/maxi
mini_test=X_test[feature1].min(axis=0)

#Scaleup of  dataset
scale_values=[1, 7, 1, 1]
scalar = pd.Series(scale_values, index=feature1)
X_train[feature1]=X_train[feature1]+scalar
X_test[feature1]=X_test[feature1]+scalar


maxi_1=X_train.max(axis=0)
X_train=X_train/maxi_1
X_test=X_test/maxi_1

X_test.head()

,RSSI,Area_ParkLOS,SQ,Area_ParkNLOS,Area_RESIDENTIAL_IN,Area_RESIDENTIAL_OD,Distance,Area_TrackLOS,Area_TrackNLOS,ETX
1663,0.404076,0.0,0.894777,0.0,0.0,1.0,0.815268,0.0,0.0,0.494939
1699,0.345652,0.0,0.443823,0.0,0.0,1.0,0.878605,0.0,0.0,0.494939
960,0.462500,0.0,0.984968,0.0,0.0,0.0,0.502672,1.0,0.0,0.494939
1434,0.591032,0.0,1.000000,0.0,0.0,1.0,0.412376,0.0,0.0,0.494939
1634,0.427445,0.0,0.909809,0.0,0.0,1.0,0.764247,0.0,0.0,0.507257

In [186]:
minit=X_test[feature1].min(axis=0)
minit

RSSI        0.240489
SQ          0.052996
ETX         0.494939
Distance    0.299778
dtype: float64

In [194]:
from keras.layers import Input, Dense
from keras.models import Model
import numpy
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

#size of the encoder
encoding_dim=4

#input shape
input_img=Input(shape=(10,))

#encoded
encoded=Dense(encoding_dim,activation='relu',kernel_initializer='normal')(input_img)

#decoded
decoded=Dense(10,activation='relu',kernel_initializer='normal')(encoded)

# this model maps an input to its reconstruction
autoencoder=Model(input_img, decoded)


# this model maps an input to its encoded representation
encoder = Model(input_img, encoded)


# create a placeholder for an encoded (32-dimensional) input
encoded_input = Input(shape=(encoding_dim,))

# retrieve the last layer of the autoencoder model
decoder_layer = autoencoder.layers[-1]

# create the decoder model
decoder = Model(encoded_input, decoder_layer(encoded_input))

autoencoder.compile(optimizer='adam', loss='mse', metrics=['mae'])

autoencoder.fit(X_train, X_train,
                epochs=150,
                batch_size=25,
                shuffle=True)

Epoch 1/150
1758/1758 [==============================] - 1s 293us/step - loss: 0.2309 - mean_absolute_error: 0.3208
Epoch 2/150
1758/1758 [==============================] - 0s 32us/step - loss: 0.1446 - mean_absolute_error: 0.2447
Epoch 3/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0999 - mean_absolute_error: 0.1796
Epoch 4/150
1758/1758 [==============================] - 0s 38us/step - loss: 0.0918 - mean_absolute_error: 0.1615
Epoch 5/150
1758/1758 [==============================] - 0s 32us/step - loss: 0.0867 - mean_absolute_error: 0.1533
Epoch 6/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0818 - mean_absolute_error: 0.1453
Epoch 7/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0771 - mean_absolute_error: 0.1367
Epoch 8/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0730 - mean_absolute_error: 0.1285
Epoch 9/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0698 - mean_absolute_error: 0.1219
Epoch 10/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0675 - mean_absolute_error: 0.1145
Epoch 11/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0661 - mean_absolute_error: 0.1096
Epoch 12/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0651 - mean_absolute_error: 0.1054
Epoch 13/150
1758/1758 [==============================] - 0s 39us/step - loss: 0.0645 - mean_absolute_error: 0.1021
Epoch 14/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0640 - mean_absolute_error: 0.1000
Epoch 15/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0637 - mean_absolute_error: 0.0982
Epoch 16/150
1758/1758 [==============================] - 0s 38us/step - loss: 0.0633 - mean_absolute_error: 0.0965
Epoch 17/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0628 - mean_absolute_error: 0.0953
Epoch 18/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0624 - mean_absolute_error: 0.0937
Epoch 19/150
1758/1758 [==============================] - 0s 37us/step - loss: 0.0619 - mean_absolute_error: 0.0920
Epoch 20/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0615 - mean_absolute_error: 0.0905
Epoch 21/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0611 - mean_absolute_error: 0.0887
Epoch 22/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0607 - mean_absolute_error: 0.0873
Epoch 23/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0604 - mean_absolute_error: 0.0860
Epoch 24/150
1758/1758 [==============================] - 0s 39us/step - loss: 0.0600 - mean_absolute_error: 0.0846
Epoch 25/150
1758/1758 [==============================] - 0s 40us/step - loss: 0.0597 - mean_absolute_error: 0.0835
Epoch 26/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0594 - mean_absolute_error: 0.0821
Epoch 27/150
1758/1758 [==============================] - 0s 37us/step - loss: 0.0591 - mean_absolute_error: 0.0809
Epoch 28/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0589 - mean_absolute_error: 0.0798
Epoch 29/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0587 - mean_absolute_error: 0.0787
Epoch 30/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0586 - mean_absolute_error: 0.0780
Epoch 31/150
1758/1758 [==============================] - 0s 41us/step - loss: 0.0585 - mean_absolute_error: 0.0775
Epoch 32/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0584 - mean_absolute_error: 0.0771
Epoch 33/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0584 - mean_absolute_error: 0.0769
Epoch 34/150
1758/1758 [==============================] - 0s 43us/step - loss: 0.0583 - mean_absolute_error: 0.0766
Epoch 35/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0583 - mean_absolute_error: 0.0763
Epoch 36/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0583 - mean_absolute_error: 0.0763
Epoch 37/150
1758/1758 [==============================] - 0s 32us/step - loss: 0.0583 - mean_absolute_error: 0.0761
Epoch 38/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0583 - mean_absolute_error: 0.0760
Epoch 39/150
1758/1758 [==============================] - 0s 45us/step - loss: 0.0583 - mean_absolute_error: 0.0759
Epoch 40/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0582 - mean_absolute_error: 0.0758
Epoch 41/150
1758/1758 [==============================] - 0s 42us/step - loss: 0.0582 - mean_absolute_error: 0.0757
Epoch 42/150
1758/1758 [==============================] - 0s 38us/step - loss: 0.0582 - mean_absolute_error: 0.0756
Epoch 43/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0582 - mean_absolute_error: 0.0756
Epoch 44/150
1758/1758 [==============================] - 0s 38us/step - loss: 0.0582 - mean_absolute_error: 0.0754
Epoch 45/150
1758/1758 [==============================] - 0s 38us/step - loss: 0.0582 - mean_absolute_error: 0.0754
Epoch 46/150
1758/1758 [==============================] - 0s 39us/step - loss: 0.0582 - mean_absolute_error: 0.0752
Epoch 47/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0582 - mean_absolute_error: 0.0752
Epoch 48/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0581 - mean_absolute_error: 0.0749
Epoch 49/150
1758/1758 [==============================] - 0s 47us/step - loss: 0.0581 - mean_absolute_error: 0.0750
Epoch 50/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0581 - mean_absolute_error: 0.0749
Epoch 51/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0581 - mean_absolute_error: 0.0747
Epoch 52/150
1758/1758 [==============================] - 0s 40us/step - loss: 0.0581 - mean_absolute_error: 0.0746
Epoch 53/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0581 - mean_absolute_error: 0.0747
Epoch 54/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0581 - mean_absolute_error: 0.0745
Epoch 55/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0581 - mean_absolute_error: 0.0744
Epoch 56/150
1758/1758 [==============================] - 0s 29us/step - loss: 0.0581 - mean_absolute_error: 0.0743
Epoch 57/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0581 - mean_absolute_error: 0.0741
Epoch 58/150
1758/1758 [==============================] - 0s 31us/step - loss: 0.0581 - mean_absolute_error: 0.0741
Epoch 59/150
1758/1758 [==============================] - 0s 29us/step - loss: 0.0580 - mean_absolute_error: 0.0740
Epoch 60/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0580 - mean_absolute_error: 0.0739
Epoch 61/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0580 - mean_absolute_error: 0.0737
Epoch 62/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0580 - mean_absolute_error: 0.0736
Epoch 63/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0580 - mean_absolute_error: 0.0737
Epoch 64/150
1758/1758 [==============================] - 0s 31us/step - loss: 0.0580 - mean_absolute_error: 0.0734
Epoch 65/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0580 - mean_absolute_error: 0.0734
Epoch 66/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0580 - mean_absolute_error: 0.0732
Epoch 67/150
1758/1758 [==============================] - 0s 32us/step - loss: 0.0580 - mean_absolute_error: 0.0731
Epoch 68/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0580 - mean_absolute_error: 0.0732
Epoch 69/150
1758/1758 [==============================] - 0s 22us/step - loss: 0.0580 - mean_absolute_error: 0.0729
Epoch 70/150
1758/1758 [==============================] - ETA: 0s - loss: 0.0499 - mean_absolute_error: 0.068 - 0s 20us/step - loss: 0.0580 - mean_absolute_error: 0.0729
Epoch 71/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0579 - mean_absolute_error: 0.0728
Epoch 72/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0579 - mean_absolute_error: 0.0727
Epoch 73/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0579 - mean_absolute_error: 0.0725
Epoch 74/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0579 - mean_absolute_error: 0.0725
Epoch 75/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0579 - mean_absolute_error: 0.0725
Epoch 76/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0579 - mean_absolute_error: 0.0724
Epoch 77/150
1758/1758 [==============================] - 0s 24us/step - loss: 0.0579 - mean_absolute_error: 0.0724
Epoch 78/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0579 - mean_absolute_error: 0.0722
Epoch 79/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0579 - mean_absolute_error: 0.0721
Epoch 80/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0579 - mean_absolute_error: 0.0722
Epoch 81/150
1758/1758 [==============================] - 0s 20us/step - loss: 0.0579 - mean_absolute_error: 0.0721
Epoch 82/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0579 - mean_absolute_error: 0.0719
Epoch 83/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0579 - mean_absolute_error: 0.0719
Epoch 84/150
1758/1758 [==============================] - 0s 22us/step - loss: 0.0579 - mean_absolute_error: 0.0718
Epoch 85/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0579 - mean_absolute_error: 0.0718
Epoch 86/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0579 - mean_absolute_error: 0.0718
Epoch 87/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0579 - mean_absolute_error: 0.0718
Epoch 88/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0578 - mean_absolute_error: 0.0717
Epoch 89/150
1758/1758 [==============================] - 0s 22us/step - loss: 0.0578 - mean_absolute_error: 0.0717
Epoch 90/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0578 - mean_absolute_error: 0.0717
Epoch 91/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 92/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 93/150
1758/1758 [==============================] - 0s 37us/step - loss: 0.0578 - mean_absolute_error: 0.0717
Epoch 94/150
1758/1758 [==============================] - 0s 31us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 95/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 96/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 97/150
1758/1758 [==============================] - 0s 24us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 98/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 99/150
1758/1758 [==============================] - 0s 29us/step - loss: 0.0578 - mean_absolute_error: 0.0715
Epoch 100/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 101/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 102/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0578 - mean_absolute_error: 0.0715
Epoch 103/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 104/150
1758/1758 [==============================] - 0s 29us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 105/150
1758/1758 [==============================] - 0s 24us/step - loss: 0.0578 - mean_absolute_error: 0.0716
Epoch 106/150
1758/1758 [==============================] - 0s 37us/step - loss: 0.0578 - mean_absolute_error: 0.0715
Epoch 107/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0577 - mean_absolute_error: 0.0715
Epoch 108/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 109/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 110/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 111/150
1758/1758 [==============================] - 0s 32us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 112/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 113/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 114/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 115/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 116/150
1758/1758 [==============================] - 0s 22us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 117/150
1758/1758 [==============================] - 0s 29us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 118/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 119/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 120/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 121/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 122/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 123/150
1758/1758 [==============================] - 0s 25us/step - loss: 0.0577 - mean_absolute_error: 0.0717
Epoch 124/150
1758/1758 [==============================] - 0s 33us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 125/150
1758/1758 [==============================] - ETA: 0s - loss: 0.0526 - mean_absolute_error: 0.064 - 0s 27us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 126/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0576 - mean_absolute_error: 0.0716
Epoch 127/150
1758/1758 [==============================] - 0s 28us/step - loss: 0.0577 - mean_absolute_error: 0.0716
Epoch 128/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0576 - mean_absolute_error: 0.0717
Epoch 129/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0576 - mean_absolute_error: 0.0716
Epoch 130/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0576 - mean_absolute_error: 0.0716
Epoch 131/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0576 - mean_absolute_error: 0.0715
Epoch 132/150
1758/1758 [==============================] - 0s 31us/step - loss: 0.0576 - mean_absolute_error: 0.0715
Epoch 133/150
1758/1758 [==============================] - 0s 26us/step - loss: 0.0576 - mean_absolute_error: 0.0715
Epoch 134/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0576 - mean_absolute_error: 0.0714
Epoch 135/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0576 - mean_absolute_error: 0.0714
Epoch 136/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0576 - mean_absolute_error: 0.0714
Epoch 137/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0576 - mean_absolute_error: 0.0714
Epoch 138/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0576 - mean_absolute_error: 0.0713
Epoch 139/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0576 - mean_absolute_error: 0.0713
Epoch 140/150
1758/1758 [==============================] - 0s 36us/step - loss: 0.0575 - mean_absolute_error: 0.0712
Epoch 141/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0575 - mean_absolute_error: 0.0711
Epoch 142/150
1758/1758 [==============================] - 0s 30us/step - loss: 0.0575 - mean_absolute_error: 0.0711
Epoch 143/150
1758/1758 [==============================] - 0s 27us/step - loss: 0.0575 - mean_absolute_error: 0.0710
Epoch 144/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0575 - mean_absolute_error: 0.0710
Epoch 145/150
1758/1758 [==============================] - 0s 24us/step - loss: 0.0575 - mean_absolute_error: 0.0709
Epoch 146/150
1758/1758 [==============================] - 0s 31us/step - loss: 0.0575 - mean_absolute_error: 0.0710
Epoch 147/150
1758/1758 [==============================] - 0s 35us/step - loss: 0.0575 - mean_absolute_error: 0.0709
Epoch 148/150
1758/1758 [==============================] - 0s 23us/step - loss: 0.0575 - mean_absolute_error: 0.0707
Epoch 149/150
1758/1758 [==============================] - 0s 34us/step - loss: 0.0575 - mean_absolute_error: 0.0707
Epoch 150/150
1758/1758 [==============================] - 0s 21us/step - loss: 0.0575 - mean_absolute_error: 0.0706

In [193]:
encoded_imgs = encoder.predict(X_test)
decoded_imgs = decoder.predict(encoded_imgs)
decoded_imgs[0]

array([  0.      ,   0.      ,  23.084112,   0.      ,   0.      ,
         0.      , 236.45131 ,   0.      ,   0.      ,   0.      ],
      dtype=float32)

In [164]:
scalar

RSSI        1
SQ          7
ETX         1
Distance    1
dtype: int64

In [187]:
X_test.head()

,RSSI,Area_ParkLOS,SQ,Area_ParkNLOS,Area_RESIDENTIAL_IN,Area_RESIDENTIAL_OD,Distance,Area_TrackLOS,Area_TrackNLOS,ETX
1663,0.404076,0.0,0.894777,0.0,0.0,1.0,0.815268,0.0,0.0,0.494939
1699,0.345652,0.0,0.443823,0.0,0.0,1.0,0.878605,0.0,0.0,0.494939
960,0.462500,0.0,0.984968,0.0,0.0,0.0,0.502672,1.0,0.0,0.494939
1434,0.591032,0.0,1.000000,0.0,0.0,1.0,0.412376,0.0,0.0,0.494939
1634,0.427445,0.0,0.909809,0.0,0.0,1.0,0.764247,0.0,0.0,0.507257

## Transform Data to Original Form

In [188]:
#conversion
X_test=X_test*maxi_1

X_test[feature1]=X_test[feature1]-scalar

X_test[feature1]=X_test[feature1]*maxi

X_test[feature1]=X_test[feature1]*std

X_test[feature1]=X_test[feature1]+mean

X_test.head()

,RSSI,Area_ParkLOS,SQ,Area_ParkNLOS,Area_RESIDENTIAL_IN,Area_RESIDENTIAL_OD,Distance,Area_TrackLOS,Area_TrackNLOS,ETX
1663,49.0,0.0,93.0,0.0,0.0,1.0,91.5625,0.0,0.0,1.000000
1699,44.0,0.0,63.0,0.0,0.0,1.0,102.8125,0.0,0.0,1.000000
960,54.0,0.0,99.0,0.0,0.0,0.0,36.0386,1.0,0.0,1.000000
1434,65.0,0.0,100.0,0.0,0.0,1.0,20.0000,0.0,0.0,1.000000
1634,51.0,0.0,94.0,0.0,0.0,1.0,82.5000,0.0,0.0,1.111111